{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PUBGxWAR {% block title %} {% endblock %}</title>
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}">
	<script src="{% static 'js/mobile.js' %}" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="/" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a>
				<ul id="navigation">
					<li class="selected">
						<a href="/">Home</a>
					</li>
					<li class="menu">
						<a href="#">About</a>
					</li>
					<li class="menu">
						<a href="#">Announcements</a>
					</li>
					<li class="menu">
						<a href="#">Tournaments</a>
					</li>
					<li class="menu">
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="home">
		{% block body %}
			<div class="body">
				<div>
					<div>
						<h1>IMPORTANT UPDATES</h1>
						{% if updates %}
							{% for update in updates %}
								<h2>{{ update.title }}</h2>
								<p>{{ update.description }}</p>
							{% endfor %}
						{% else %}
							<h2>NO UPDATES</h2>
							<p>No any updates</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="footer">
				<div>
					<h1>Currently, We conduct only two different tournaments and only in PUBG.</h1>
					<ul>
						<li>
							<a href="/tdm" class="tdm"><h4>TEAMDEATHMATCH</h4></a>
						</li>
						<li>
							<a href="/classic" class="classic"><h4>CLASSIC (ERANGEL)</h4></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<h1>CONNECT WITH US ON:</h1>
				<div class="connect">
					<a href="https://www.youtube.com/channel/UCaObFsuda6uPCRHWSIMRTvw" class="youtube"><img src="{% static 'images/youtube.png' %}" alt="YouTube"></a>
					<a href="#" class="whatsapp"><img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp"></a>
					<a href="https://t.me/eklavyabhargava" class="telegram"><img src="{% static 'images/telegram.png' %}" alt="Telegram"></a>
				</div>
			</div>
		</div>
		{% endblock %}
	</div>
</body>
</html>
